.profilecard {
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
}

.button-edit {
    margin-left: auto;
}

.data {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.loader,
.error {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.avatar {
    display: flex;
    width: 100%;
    justify-content: center;
}

.editting {
    border: 2px solid var(--inverted-primary-color);
}
